<% provide(:title, 'Home') %>
<div class="center hero-unit">

	<% if signed_in? %>
	<h1>Open PaaS</h1>
  <h2>Hi, <%= @current_user.name %>!</h2>
	<% else %>
	<h1>Welcome to the Open PaaS</h1>
	<h2>This is the home page for the Open PaaS application.</h2>
	<% end %>


	<% if signed_in? %>
	<div class="row">
    <% if @current_user.repositories.any? %>
      <h3>Your repositories (<%= @current_user.repositories.size %>)</h3>
      <ol class="repositories">
				<% @current_user.repositories.each do |repository| %>
        <li><%= repository.name %></li>
				<% end %>
      </ol>
			<% end %>
			<%= link_to "Create new repository", new_repository_path, class: "btn btn-large" %>
  </div>

	<% else %>

  <div class="span6">

    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :password %>
      <%= f.password_field :password %>


      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
			<%= link_to "Sign up now!", signup_path, class: "btn btn-large" %>
    <% end %>
	</div>

	<div class="row">
	</div>
	<% end %>

</div>

