<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @instance.name %>
</p>

<p>
  <strong>Ipaddr:</strong>
  <%= @instance.ipaddr %>
</p>

<p>
  <strong>Repository:</strong>
  <%= @instance.repository_id %>
</p>

<p>
  <strong>Host:</strong>
  <%= @instance.host_id %>
</p>

<%= link_to 'Edit', edit_instance_path(@instance) %> |
<%= link_to 'Back', instances_path %>
