<% provide(:title, @user.name) %>

<div class="center hero-unit">
<p id="notice"><%= notice %></p>

<%= gravatar_for @user %>
<h2><%= @user.name %></h2>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>
